
<div class="search_wrapper">
  <div class="col-xs-8 col-lg-6">
    <div class="search_left">
       <div class="search">
        <%= image_tag "search.png" %>
          <%= form_tag(search_events_path, method: :get,class: "form-group") do %>
          <input placeholder="イベント名" name="e_keyword" maxlength= 10 type="text" class="form-controller">
        <% end %>
     </div>
    </div>
  </div>
   
  <div class="col-xs-8 col-lg-6">
    
    <div class="search">
      <%= form_tag(search_groups_path, method: :get,class: "form-group") do %>
        <input placeholder="団体名" name="g_keyword" maxlength= 10 type="text" class="form-controller">
      <% end %>
    </div>
  </div>
   
</div>


