<div class="flash_message">
    <P><%= alert %></P>
    <p><%= notice %></p>
</div>

<div class="event_index">
  <% @events.each do |event| %>
  <!--<div class="background_image" style="background-image: url('images.jpg')">-->
    <%= render partial: "common/event", locals: { event: event,apply: @apply} %>
  <% end %>
  <%= paginate(@events) %>
</div>

