@import "colors";

html,body{
    height: 100%;
}
// @import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:400,600&display=swap');
body{
  background-color: $white;
  // font-weight: bold;
  letter-spacing: 0.05em;
  // padding-top: 60px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
@import url(//fonts.googleapis.com/css?family=Montserrat);
* {
  font-family: Montserrat, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif !important;
  
}
body,input,textarea{
  font-size:　1.6rem;
  line-height: 2;
  letter-spacing: 0.05em;
  width: 100%;
  // font-family: "yuGothic", sans-serif;
  // box-sizing: box;　//ressで定義済み
}

#error_explanation {
  padding: 5px 2px;
  font-size: 12px;
 @extend .error_message;
  h2{
    display: none;
  }
}


h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.9rem;
}
p,h4,h5,h6,a {
  font-size: 0.8rem;
}

li{
  list-style: none;
}
select {
  -webkit-appearance:none;
  appearance:none;
  font-size: 0.8em;
  border: 2px solid $gray;
}

input{
  font-size: 0.8em;
}
.row {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 7vh;
}

.container{
  // top: 0.5vh;
  overflow: scroll;
  // margin: 0 10%;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
  padding-bottom: 7vh;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
    &::-webkit-scrollbar{
    display: none;/* Chrome, Safari 対応 */
  }
}
  

a{
  color :$deepblue;
  text-decoration: none;
  &:hover {
    color: lighten($deepblue, 3%) !important;
    // text-decoration: underline;
  }
}

// formにcssを適用させるため初期化
input,select,textarea,select{
  outline: none;
  border: none;
  -webkit-appearance: none;
  // 背景を青にしない
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
}
}

h2{
  text-align: center;
}


.button{
  display: inline-block;
  text-decoration: none;
  background: $deepblue;/*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  &:active{
     -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  } 
  
}
 .form{
       border: none;
            &:focus {
            // box-shadow: 0 0 3px $lightblue;
            border-bottom: 2px solid $lightblue;
            /*フォーカスしたときのトランジション設定 すべてのプロパティが0.5秒で切り替わる*/
            transition: all 0.5s;
                  }
        }
        
footer{
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid darken($gray, 10%);
  height: 7vh;
  position: fixed;
  bottom: 0;
  background-color: $white;
    
    .footer_wrapper{
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      .icon{
        width: 100%;
        // width: calc(100%/3);
        text-align: center;
        // vertical-align: middle;
      img{
        margin: 10px auto;
      }
    }
   
  }
 
}


.pagination{
  text-align: center;
}


.form-save{
            width: 100%;
            display: flex;
            text-align: center;
            
             .button_save{
            @extend .button;
            width: 20%;
            min-width: 50px;
            margin: 5% auto;
          }
}

.error_message{
   background-color: $orange;
   margin: 1% 5%;
   text-align: center;
   color: #fff;
   font-size: 12px;
}

