<% if group.image.attached? %>
  <div class="group_image" style="background-image: url(<%= rails_representation_path(group.image.variant(combine_options:{resize:"100x100^",crop:"100x100+0+0",gravity: :center}).processed) %>) ">
  </div>
<% else %>
  <div class="group_image" style="background-color: gray ">
  </div>
<% end %>
<div class="event_group">
  <%= link_to "#{group.name}",  group_path(group), method: :get , class: "group"%>
</div>